<div id="about">

    <div class="about-content">
        <h1 class="sub-heading ">about wandernurse</h1>
        <h1 class="heading about-heading">{{about.heading}}</h1>
    </div>
    <p class="about-description">{{about.heading_description}}</p>

</div>