<section id="blogpost">
    <div class="container">
        <div class="title-container text-center">          
            <p>latest updates</p>
            <h2>blog & posts</h2>
        </div>
    </div>

    <div
        id="testimonialCarousel"
        class="carousel special slide"
        data-bs-ride="false"
    >
        <div class="row row1">
            <div class="col-md-12">
                <!-- Carousel Indicators -->
                <ol class="carousel-indicators">
                    <li
                        data-bs-target="#testimonialCarousel"
                        data-bs-slide-to="0"
                        class="active"
                    ></li>
                    <li
                        data-bs-target="#testimonialCarousel"
                        data-bs-slide-to="1"
                    ></li>
                </ol>

                <!-- Carousel Inner -->
                <div class="carousel-inner-my">
                    <!-- Testimonial Group 1 -->
                    <div class="carousel-item active">
                        <div class="row">
                            <!-- Testimonial 1 -->
                            <div class="col-md-4 testii">
                                <div class="testimonial testimonial-blogs ">

                                    <img
                                        src="/moodle/theme/wandernurse/pix/rectangle.png"
                                        class="service-img"
                                        alt="User Image"
                                    />
                                    <p class="service-name">Travel Nursing</p>
                                    <span>August 1, 2023</span>
                                    <p class="testimonial-text">
                                        "This is an amazing product! It has completely changed the way I work and I couldn't be happier."
                                    </p>
                                </div>
                            </div>
                            <!-- Testimonial 2 -->
                            <div class="col-md-4 testii">
                                <div class="testimonial testimonial-blogs">

                                    <img
                                        src="/moodle/theme/wandernurse/pix/rectangle.png"
                                        class="service-img"
                                        alt="Service Image"
                                    />
                                    <p class="service-name">Travel Nursing</p>
                                    <p class="testimonial-text">
                                        "Excellent customer service and fantastic results. I highly recommend this to anyone."
                                    </p>
                                </div>
                            </div>
                            <!-- Testimonial 3 -->
                            <div class="col-md-4 testii">
                                <div class="testimonial testimonial-blogs ">

                                    <img
                                        src="/moodle/theme/wandernurse/pix/rectangle.png"
                                        class="service-img"
                                        alt="Service Image"
                                    />
                                    <p class="service-name">Travel Nursing</p>
                                    <p class="testimonial-text">
                                        "I've been using this service for years. It's simply the best!"
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Testimonial Group 2 -->
                    <div class="carousel-item">
                        <div class="row">
                            <!-- Testimonial 4 -->
                            <div class="col-md-4 testii">
                                <div class="testimonial testimonial-blogs ">

                                    <img
                                        src="/moodle/theme/wandernurse/pix/rectangle.png"
                                        class="service-img"
                                        alt="Service Image"
                                    />
                                    <p class="service-name">Travel Nursing</p>
                                    <p class="testimonial-text">
                                        "Amazing experience overall! Highly recommend."
                                    </p>
                                </div>
                            </div>
                            <!-- Testimonial 5 -->
                            <div class="col-md-4 testii">
                                <div class="testimonial testimonial-blogs ">

                                    <img
                                        src="/moodle/theme/wandernurse/pix/rectangle.png"
                                        class="service-img"
                                        alt="Service Image"
                                    />
                                    <p class="service-name">Travel Nursing</p>
                                    <p class="testimonial-text">
                                        "Their team provided invaluable support and expertise."
                                    </p>
                                </div>
                            </div>
                            <!-- Testimonial 6 -->
                            <div class="col-md-4 testii">
                                <div class="testimonial testimonial-blogs ">

                                    <img
                                        src="/moodle/theme/wandernurse/pix/rectangle.png"
                                        class="service-img"
                                        alt="Service Image"
                                    />
                                    <p class="service-name">Travel Nursing</p>
                                    <p class="testimonial-text">
                                        "Top-notch service! I will definitely use them again."
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="flex-button">  
        <button class="services-button">discover your perfect job</button>
    </div>
</section>
