<section id="careers">
    <div class="container">
        <div class="title-container">
            <p>
                your career
            </p>
            <h2>
                featured jobs right now
            </h2>
        </div>
        <div
        id="testimonialCarousel"
        class="carousel slide"
        data-bs-ride="false"
      >
        <div class="row row-carrer">
          <div class="col-md-16">
            <!-- Corrected Carousel Indicators -->
            <ol class="carousel-indicators">
              <li
                data-bs-target="#testimonialCarousel"
                data-bs-slide-to="0"
                class="active"
              ></li>
              <li data-bs-target="#testimonialCarousel" data-bs-slide-to="1"></li>
            </ol>
  
            <!-- Carousel Inner -->
            <div class="carousel-inner-my">
  
              <!-- Testimonial Group 1 -->
              <div class="carousel-item active">
                <div class="row">
                  <!-- Testimonial 1 -->
                  <div class="career">
                    <div class="career-testimonial text-center">
                      <img
                        src="/moodle/theme/wandernurse/pix/career.png"
                        class="career-img"
                        alt="User Image"
                      />
                     <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
                     </span>
                      <div> <p>We are hiring</p>
                        <span>$55/HR</span></div>
                     
                    </div>
                  </div>
                  <!-- Testimonial 2 -->
                  <div class=" career">
                    <div class="career-testimonial text-center">
                      <img
                        src="/moodle/theme/wandernurse/pix/career.png"
                        class="career-img"
                        alt="User Image"
                      />
                      <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
                     </span>
                      <div> <p>We are hiring</p>
                        <span>$55/HR</span></div>
                    </div>
                  </div>
                  <!-- Testimonial 3 -->
                  <div class="career">
                    <div class="career-testimonial text-center">
                      <img
                        src="/moodle/theme/wandernurse/pix/career.png"
                        class="career-img"
                        alt="User Image"
                      />
                      <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
                     </span>
                      <div> <p>We are hiring</p>
                        <span>$55/HR</span></div>
                    </div>
                  </div>
                  <div class="career">
                    <div class="career-testimonial text-center">
                      <img
                        src="/moodle/theme/wandernurse/pix/career.png"
                        class="career-img"
                        alt="User Image"
                      />
                      <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
                     </span>
                      <div> <p>We are hiring</p>
                        <span>$55/HR</span></div>
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Testimonial Group 2 -->
              <div class="carousel-item">
                <div class="row">
                  <!-- Testimonial 4 -->
                  <div class="career">
                    <div class="career-testimonial text-center">
                      <img
                        src="/moodle/theme/wandernurse/pix/career.png"
                        class="career-img"
                        alt="User Image"
                      />
                      <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
                     </span>
                      <div> <p>We are hiring</p>
                        <span>$55/HR</span></div>
                    </div>
                  </div>
                  <!-- Testimonial 5 -->
                  <div class=" career">
                    <div class="career-testimonial text-center">
                      <img
                        src="/moodle/theme/wandernurse/pix/career.png"
                        class="career-img"
                        alt="User Image"
                      />
                      <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
                     </span>
                      <div> <p>We are hiring</p>
                        <span>$55/HR</span></div>
                    </div>
                  </div>
                  <!-- Testimonial 6 -->
                  <div class="career">
                    <div class="career-testimonial text-center">
                      <img
                        src="/moodle/theme/wandernurse/pix/career.png"
                        class="career-img"
                        alt="User Image"
                      />
                      <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
                     </span>
                      <div> <p>We are hiring</p>
                        <span>$55/HR</span></div>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
</section>