





<section id="careers">
  <div class="mycontainer">
        <div class="title-container">
            <p>
                your career
            </p>
            <h2>
                featured jobs right now
            </h2>
        </div>
<div class="body">  
<div class="mycontainer swiper">
    <div class="card-wrapper">
      <!-- Card slides container -->
     
      <ul class="card-list swiper-wrapper">


        <li class="card-item swiper-slide">
          <a href="#" class="card-link">
          <div class = "img-wrapper">           
           <img src="/moodle/theme/wandernurse/pix/rectangle.png" alt="Card Image" class="card-image">
           <div>
            <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
            </span>
                      <div class = "job"> 
                      <p>We are hiring</p>
                        <span>$55/HR</span></div>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
                <li class="card-item swiper-slide">
          <a href="#" class="card-link">
          <div class = "img-wrapper">           
           <img src="/moodle/theme/wandernurse/pix/rectangle.png" alt="Card Image" class="card-image">
           <div>
            <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
            </span>
                      <div class = "job"> 
                      <p>We are hiring</p>
                        <span>$55/HR</span></div>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
                <li class="card-item swiper-slide">
          <a href="#" class="card-link">
          <div class = "img-wrapper">           
           <img src="/moodle/theme/wandernurse/pix/rectangle.png" alt="Card Image" class="card-image">
           <div>
            <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
            </span>
                      <div class = "job"> 
                      <p>We are hiring</p>
                        <span>$55/HR</span></div>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
                <li class="card-item swiper-slide">
          <a href="#" class="card-link">
          <div class = "img-wrapper">           
           <img src="/moodle/theme/wandernurse/pix/rectangle.png" alt="Card Image" class="card-image">
           <div>
            <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
            </span>
                      <div class = "job"> 
                      <p>We are hiring</p>
                        <span>$55/HR</span></div>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
                <li class="card-item swiper-slide">
          <a href="#" class="card-link">
          <div class = "img-wrapper">           
           <img src="/moodle/theme/wandernurse/pix/rectangle.png" alt="Card Image" class="card-image">
           <div>
            <span class="tag">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" style="color: white;" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                          </svg>
                          <span>New York, USA 1321</span>
            </span>
                      <div class = "job"> 
                      <p>We are hiring</p>
                        <span>$55/HR</span></div>
            <button class="card-button material-symbols-rounded">arrow_forward</button>
          </a>
        </li>
       
      </ul>

       <!-- Pagination -->
      <div class="swiper-pagination"></div>

      <!-- Navigation Buttons -->
      <div class="swiper-slide-button swiper-button-prev"></div>
      <div class="swiper-slide-button swiper-button-next"></div>
    </div>
  </div>
</div>


  <!-- Linking SwiperJS script -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <!-- Linking custom script -->
  <script src="/moodle/theme/wandernurse/script/slider.js"></script>

    <div class="flex-button">  <button class="services-button">discover you perfect job</button>
    </div>
  </div>
</section>

