<section id="cta">
    <div class="cta-content">
        <h1> begin your journey with wandernurse</h1>
        <p>Explore new opportunities and join a community dedicated to reshaping healthcare staffing. With WanderNurse, you’re equipped with the best resources to embark on a career path filled with possibilities.</p>
    </div>
    <div class="email">
        <p>Schedule your consultation today</p>
        <div class="email-child">
             <div class="enter-email">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Enter Your Email" required>
            </div>
     </div>
       
    </div>
</section>