<section id="features">
<div class="container">
    <h1 class="heading">{{features.heading}}
    </h1>
    <div class="features-flex">
        {{#features.list}}
        <div class="feature">
            <div class="forimage">  <img class="feature-icons" src="/moodle/theme/wandernurse/pix/maskface.png"></div>
          
            <p class="feature-title">{{title}}</p>
            <p class="feature-description">{{description}}</p>
        </div>
        {{/features.list}}
    </div>
</div>
</section>