<section id="footer">
    <div class="mycontainer">
        <div class="for-logo">  
            <img src="" alt="" class="logo">
        </div>
      <div class="footer-content">
        <div class="para"> <p>You have come to this website to seek for the Truth. To get to the root of an issue or several thing that are creating an unbalance in your life</p>
        </div>
        <div class="options">
            <ul class="option1">
                <li><a class="footer-title" href="#">Top Categories</a></li>
                <li><a href="#">Home</a></li> 
                <li><a href="#">Home</a></li>
                 <li><a href="#">Home</a></li>
                  <li><a href="#">Home</a></li> 
                  <li><a href="#">Home</a></li>
                   <li><a href="#">Home</a></li>
                    <li><a href="#">Home</a></li>
            </ul>
            <ul class="option2">
                <li><a class="footer-title" href="#">Our Blog</a></li>
                <li><a href="#">Home</a></li> 
                <li><a href="#">Home</a></li>
                 <li><a href="#">Home</a></li>
            </ul>
        </div>
        <div class="links">
            <div class="footer-email">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email to subscribe" required>
            </div>
            <div id="navbar-social" class="navbar-social linksinfooter d-flex align-items-center">
                <a href="#" class="nav-link nav-link1 text-black"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="nav-link nav-link1 text-black"><i class="fa fa-instagram"></i></a>
                <a href="#" class="nav-link nav-link1 text-black"><i class="fa fa-twitter"></i></a>
                <a href="#" class="nav-link nav-link1 text-black"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
      </div>
    </div>
</section>