<nav class="navbar mt-10  navbar-light navbar-expand" aria-label="Site navigation" style="background-color:transparent; color: black;">
    <div class="container-fluid">
        <!-- Left Side - Social Media Icons -->
        <div class="navbar-social d-flex align-items-center">
            <a href="#" class="nav-link text-black"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="nav-link text-black"><i class="fa fa-instagram"></i></a>
            <a href="#" class="nav-link text-black"><i class="fa fa-twitter"></i></a>
            <a href="#" class="nav-link text-black"><i class="fa fa-facebook"></i></a>
        </div>
        
        <!-- Center - Logo and Navigation Links -->
 
        <!-- Right Side - User Profile and Search -->
        <div class="navbar-right d-flex align-items-center">
            <!-- Search Button -->
            <button class="btn btn-outline-dark rounded-circle mr-3" type="button">
                <i class="fa fa-search"></i>
            </button>

            <!-- User Profile -->
            <div class="usermenu-container d-flex align-items-center">
                <div class="dropdown">
                    <button class="btn dropdown-toggle d-flex align-items-center" type="button" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="user-avatar rounded-circle" style="background-color: #fff; color: purple; padding: 10px; font-weight: bold;">AU</span>
                        <span class="ml-2">Jenny</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">Grades</a>
                        <a class="dropdown-item" href="#">Calendar</a>
                        <a class="dropdown-item" href="#">Private Files</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>