<section id="hero">
<div class= "container">
<div class ="hero-content">
<div class= "title">
<div class="elevate">
    {{hero.subtitle}}
</div>
<br>
<div class="healthcare">
    {{hero.title}}
</div>
</div>
<p class="hero-desc">{{hero.description}}</p>
{{#hero.addbutton}}
<div class="hero-buttons">
    <button class="btn_my join">{{hero.button1_text}}</button>
    <button class="btn_my job-button">{{hero.button2_text}}</button>
</div>
{{/hero.addbutton}}
</div>
</div>
</section>