<section id="ourprograms">

    <div class="prog-flex">
      <div class="side1">
        <div class="ourprograms-text">
          <h1 class="ourprograms-heading">wander nurse academy</h1>
          <p class="ourprograms-description">
            Empower your career through continuous learning
          </p>
        </div>
        <div class="programs-grid">
          <div class="blur-background">
            <div class="prog-content">
              <h1>wellness workshops</h1>
              <p>Stress management, nutrition, fitness</p>
              <div class="inner-flex">
                <span>Learn more</span>
                <i class="bi bi-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                    /></svg
                ></i>
              </div>
            </div>
          </div>
          <div class="blur-background">
            <div class="prog-content">
              <h1>wellness workshops</h1>
              <p>Stress management, nutrition, fitness</p>
              <div class="inner-flex">
                <span>Learn more</span>
                <i class="bi bi-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                    /></svg
                ></i>
              </div>
            </div>
          </div>
          <div class="blur-background">
            <div class="prog-content">
              <h1>wellness workshops</h1>
              <p>Stress management, nutrition, fitness</p>
              <div class="inner-flex">
                <span>Learn more</span>
                <i class="bi bi-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                    /></svg
                ></i>
              </div>
            </div>
          </div>
          <div class="blur-background">
            <div class="prog-content">
              <h1>wellness workshops</h1>
              <p>Stress management, nutrition, fitness</p>
              <div class="inner-flex">
                <span>Learn more</span>
                <i class="bi bi-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                    /></svg
                ></i>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-button">
          <button class=" prog-button">Enroll Now</button>
        </div>
      </div>
      <div class="side2">
        <div class="ourprograms-text">
          <h1 class="ourprograms-heading">wander nurse academy</h1>
          <p class="ourprograms-description">
            Empower your career through continuous learning
          </p>
        </div>
        <div class="programs-grid">
          <div class="blur-background">
            <div class="prog-content">
              <h1>wellness workshops</h1>
              <p>Stress management, nutrition, fitness</p>
              <div class="inner-flex">
                <span>Learn more</span>
                <i class="bi bi-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                    /></svg
                ></i>
              </div>
            </div>
          </div>
          <div class="blur-background">
            <div class="prog-content">
              <h1>wellness workshops</h1>
              <p>Stress management, nutrition, fitness</p>
              <div class="inner-flex">
                <span>Learn more</span>
                <i class="bi bi-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                    /></svg
                ></i>
              </div>
            </div>
          </div>
          <div class="blur-background">
            <div class="prog-content">
              <h1>wellness workshops</h1>
              <p>Stress management, nutrition, fitness</p>
              <div class="inner-flex">
                <span>Learn more</span>
                <i class="bi bi-arrow-right"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                    /></svg
                ></i>
              </div>
            </div>
          </div>
          <div class="blur-background">
            <div class="prog-content">
              <h1>wellness workshops</h1>
              <p>Stress management, nutrition, fitness</p>
              <div class="inner-flex">
                <span>Learn more</span>
                <i class="bi bi-arrow-right">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"
                    />
                  </svg>
                </i>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-button">
          <button class="prog-button">Enroll Now</button>
        </div>
      </div>
    </div>
</section>
