<section id="services">
  <div class="container">
    <div class="services content">
      <h1 class="heading">{{services.heading}}</h1>
      <p class="about-description">
        {{services.heading_description}}
      </p>
    </div>
    <div class="mycontainer swiper">
      <div class="card-wrapper">
        <!-- Card slides container -->
        <ul class="card-list swiper-wrapper">
          {{#services.items}}
          <li class="card-item swiper-slide">
            <a href="#" class="card-link">
              <div class="img-wrapper">           
                <img src= {{image}} alt="Card Image" class="card-image">
                <div>
                  <p class="service-name">{{title}}</p>
                  <p class="testimonial-text">
                    {{description}}
                  </p>
                  <button class="card-button material-symbols-rounded">arrow_forward</button>
                </div>
              </div>
            </a>
          </li>
          <li class="card-item swiper-slide">
            <a href="#" class="card-link">
              <div class="img-wrapper">           
                <img src= {{image}} alt="Card Image" class="card-image">
                <div>
                  <p class="service-name">{{title}}</p>
                  <p class="testimonial-text">
                    {{description}}
                  </p>
                  <button class="card-button material-symbols-rounded">arrow_forward</button>
                </div>
              </div>
            </a>
          </li>
          {{/services.items}}
        </ul>

        <!-- Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Navigation Buttons -->
        <div class="swiper-slide-button swiper-button-prev"></div>
        <div class="swiper-slide-button swiper-button-next"></div>
      </div>
    </div>

    <!-- Linking SwiperJS script -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- Linking custom script -->
    <script src="/moodle/theme/wandernurse/script/slider.js"></script>

    <div class="flex-button">  
      <button class="services-button">discover your perfect job</button>
    </div>
  </div>
</section>