<section id="whyus">
<div class="mycontainer">
    <div class="whyus-flex"><div class="whyus-text">why choose us</div>
    <div class="features-flex">

        {{#whyus.items}}
      <div class="feature">
          <div class="forimage">  <img class="feature-icons" src="/moodle/theme/wandernurse/pix/maskface.png"></div>
        
          <p class="feature-title">{{title}}</p>
          <p class="feature-description">{{description}}</p>
      </div>
      {{/whyus.items}}
  </div>
</div>
    
</div>
</section>